.m1
{
    color:rgb(21, 21, 161);
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:800;
    background-color: rgb(172, 198, 40);
    text-align:center;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    padding-bottom:50px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right:400px;
    margin-left: 400px;
}
#m2
{
    color:rgb(222, 230, 16);
    font-size:30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: rgb(11, 188, 228);
}
.m3
{
    color:blue;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-align: left;
}
