@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding:10px;
    
    align-items:center;
}
.navbar-link{
    list-style:none;
    display:flex;
    gap:20px;
}
.hero{
    height:450px;
    text-align:center;
    background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url("./hero.png");
}
.heroh1{
    color:white;
    font-size: 55px;
}
.heroh2{
    color:white;
    font-size: 25px;
    padding-bottom:50px;
}
.heroh3{
    background-color: white;
    color:black;
    margin:20px;
    padding:15px;
    border:2px solid RED;
    border-radius:20px;
}
.heroh3:hover{
    background-color: rgb(99, 93, 93);
    border:2px dotted red;
}
.about{
    color:black;
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    padding:25px;
}
.about-layout{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
    align-items:center;
}
.about-text{
    line-height:1.8;
}
.about-image img{
    border:2px solid black;
    width:350px;
    height:400px;
    box-sizing: border-box;

}
.value{
    background-color: rgb(207, 223, 124);
    margin-top:30px;
    margin-bottom:30px;
}
.valuev1{
    text-align: center;
    font-size: 35px;
    padding-top:10px;
}
.valuev2{
    text-align: center;
    font-size: 25;
    padding-bottom:50px;
}
.value-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    align-items:center;
    justify-content: space-evenly;
    text-align:center;
    padding-bottom:40px;
}
.destd1{
    text-align:center;
    font-size:35px;
    font-weight: 500;
    padding-top:25px;
}
.destd2{
    text-align:center;
    font-size:20px;
    font-weight: 250;
    padding-bottom:30px;
}
.destinations-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    text-align:center;
}
.grid-item img{
    width:100%;
    border:2px solid rgb(206, 217, 83);
    border-radius:25px;
}
.gridg1{
    font-weight: 600;
    font-size:25px;
}
.c1{
    text-align: center;
    font-size: 35px;
}
.c3{
    background-color: #2a74ff;
    padding:10px;
    border:2px solid red;
    border-radius:10px;

}
.c2{
    text-align:center;
}
.contact{
    background-color:#c0d6ff;
    padding:35px;
}
.contact-card{
    background-color: #ffffff;
    border-radius:10px;
    padding:20px;
    width:450px;
    margin:auto;
}
label{
    display:block;
}
input,textarea{
    padding:10px;
    margin:10px;
    width:100%;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding:10px;
}