*k{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.m1{
    color:blue;
    text-align:center;
    font-size:30px;
}
.flex-layout{
    background-color: brown;
    padding:20px;
    display:flex;
    gap:10px;
    align-items: stretch;
    justify-content:space-evenly;
    /* flex-wrap:wrap; */
}
.box{
    background-color: green;
    padding:20px;
    flex:1;
}

.grid-layout{
    background-color: red;
    padding:20px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
    justify-content:space-evenly;
    align-items: stretch;
    border:4px solid black;
}
.item{
    background-color: blue;
    padding: 20px;
    border:4px solid white;
}

@media screen and (max-width:1000px)
{
    .flex-layout{
        flex-direction:column;
    }
    .grid-layout{
        grid-template-columns: 1fr;
    }
}